<div class="row">
	<div id="filter-order"
		class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-filter"></i><font style="vertical-align: inherit;"><font
						style="vertical-align: inherit;"> Lọc</font></font>
				</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="control-label" for="input-order-id"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Mã sản phẩm</font></font></label> <input
						type="text" name="filter_order_id" value=""
						placeholder="Nhập mã sản phẩm" id="input-order-id"
						class="form-control" ng-model="searchText.productid" />
				</div>
				<div class="form-group">
					<label class="control-label" for="input-customer"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Tên sản phẩm</font></font></label> <input
						type="text" name="filter_customer" value=""
						placeholder="Nhập tên sản phẩm" id="input-customer"
						class="form-control" autocomplete="off" ng-model="searchText.name" />
					<ul class="dropdown-menu"></ul>
				</div>
				<div class="form-group">
					<label class="control-label" for="input-order-status"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Tình trạng sản phẩm</font></font></label> <select
						name="filter_order_status_id" id="input-order-status"
						class="form-control">
						<option value=""></option>
						<option value="0"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Còn hàng</font></font></option>
						<option value="7"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Hết hàng</font></font></option>
					</select>
				</div>
				<!-- <div class="form-group">
					<label class="control-label" for="input-total"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Danh mục</font> <select
							ng-model="form.category.categoryid" class="form-control"
							style="width: 220px">
								<option ng-repeat="c in cates" ng-value="c.categoryid">{{c.categoryname}}</option>
						</select> </font></label>
				</div> -->


				<div class="form-group">
					<label class="control-label" for="input-total"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Danh mục</font></font></label> <input
						type="text" name="filter_total" value=""
						placeholder="Nhập danh mục" id="input-total" class="form-control"
						ng-model="searchText.categoryname" />
				</div>

				<div class="form-group">
					<label class="control-label" for="input-date-added"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Ngày thêm</font></font></label>
					<div class="input-group date">
						<input ng-model="form.createDate" type="date" class="form-control">
					</div>
				</div>
				<!-- <div class="form-group">
					<label class="control-label" for="input-date-modified"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Ngày sửa đổi</font></font></label>
					<div class="input-group date">
						<input type="text" name="filter_date_modified" value=""
							placeholder="Ngày sửa đổi" data-date-format="YYYY-MM-DD"
							id="input-date-modified" class="form-control"> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
					</div>
				</div> -->
				
			</div>
		</div>
	</div>
	<div class="col-md-9 col-md-pull-3 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-list"></i> <font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;"> Danh sách sản phẩm</font>
					</font>
				</h3>
				<select ng-change="changeAction()" ng-model="pagesize"
					ng-options="opt as opt for opt in pagesizes"></select> <label>Halaman
					{{currentpage + 1}} dari {{pagenumber}} Halaman</label>
			</div>
			<div class="col-md-12">
				<div class="card card-plain">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Mã</th>
										<th>Tên sản phẩm</th>
										<th>Giá</th>
										<th>Hình ảnh</th>
										<th>Danh mục</th>
										<th>Tình trạng?</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in items|filter:searchText"
										ng-if="$index >= (currentpage*pagesize) && $index < ((currentpage+1) * pagesize)">
										<td>{{item.productid}}</td>
										<td>{{item.name}}</td>
										<td>{{item.price | number:2}}</td>
										<td><img
											ng-src="{{'/assets/img/featured/'	+ item.image}}"
											style="width: 100px; height: 100px"></td>
										<td>{{item.category.categoryname}}</td>
										<td>{{item.status ?'Còn hàng':'Hết Hàng'}}</td>
										<!-- 				<td>

					<div class="btn-group btn-group-xs">
						<button ng-click="edit(item)" class="fas fa-edit"
							style="background-color: orange;"></button>
						<button ng-click="delete(item)" class="fas fa-trash"
							style="background-color: red;"></button>
					</div>
				</td> -->
										<td>
											<button ng-click="edit(item)" class="btn btn-success">
												<i class="fas fa-edit"></i>
											</button>
											<button ng-click="delete(item)" class="btn btn-danger">
												<i class="fas fa-recycle"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<button ng-click="currentpage=0">firt</button>
<button ng-click="paging(0)">Lùi</button>
<button ng-click="paging(1)">Lên</button>
<button ng-click="currentpage=pagenumber-1">Last</button>

<!-- <div class="panel-footer text-center">
    <button ng-click="pager.first()" class="btn btn-danger">
			<b class="fas fa-angle-left"></b>
		</button>
    <button ng-click="pager.prev()" class="btn btn-primary">
			<b class="fas fa-angle-down"></b>
		</button>
    <button class="btn btn-success">{{pager.page+1}} of
			{{pager.count}}</button>
    <button ng-click="pager.next()" class="btn btn-primary">
			<b class="fas fa-angle-up"></b>
		</button>
    <button ng-click="pager.last()" class="btn btn-danger">
			<b class="fas fa-angle-right"></b>
		</button>
</div> -->