<div class="row">
	<div id="filter-order"
		class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-filter"></i><font style="vertical-align: inherit;"><font
						style="vertical-align: inherit;"> Lọc</font></font>
				</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="control-label" for="input-order-id"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Mã sản phẩm</font></font></label> <input
						type="text" name="filter_order_id" value=""
						placeholder="Nhập mã sản phẩm" id="input-order-id"
						class="form-control" ng-model="searchText.productid" />
				</div>
				<div class="form-group">
					<label class="control-label" for="input-customer"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Tên sản phẩm</font></font></label> <input
						type="text" name="filter_customer" value=""
						placeholder="Nhập tên sản phẩm" id="input-customer"
						class="form-control" autocomplete="off" ng-model="searchText.name" />
					<ul class="dropdown-menu"></ul>
				</div>
				<div class="form-group">
					<label class="control-label" for="input-order-status"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Tình trạng sản phẩm</font></font></label> <select
						name="filter_order_status_id" id="input-order-status"
						class="form-control">
						<option value=""></option>
						<option value="0"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Còn hàng</font></font></option>
						<option value="7"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Hết hàng</font></font></option>
						<!-- <option value="9"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">hủy bỏ không được thực
									hiện</font></font></option>
						<option value="13"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Bồi hoàn</font></font></option>
						<option value="5"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Hoàn thành</font></font></option>
						<option value="8"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Từ chối</font></font></option>
						<option value="14"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Hết hạn</font></font></option>
						<option value="10"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Thất bại</font></font></option>
						<option value="1"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Chưa giải quyết</font></font></option>
						<option value="15"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Xử lý</font></font></option>
						<option value="2"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Xử lý</font></font></option>
						<option value="11"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Đã hoàn lại</font></font></option>
						<option value="12"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Đảo ngược</font></font></option>
						<option value="3"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Đã vận chuyển</font></font></option>
						<option value="16"><font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">Bỏ phiếu</font></font></option> -->
					</select>
				</div>
				<!-- 				<div class="form-group">
					<label class="control-label" for="input-total"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Danh mục</font> 
							<select	ng-model="form.category.categoryid" class="form-control" style="width: 220px" >
								<option ng-repeat="c in cates" ng-value="c.categoryid" >{{c.categoryname}}</option>
							</select> 
						</font></label> 
				</div> -->


				<div class="form-group">
					<label class="control-label" for="input-total"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Danh mục</font></font></label> <input
						type="text" name="filter_total" value=""
						placeholder="Nhập danh mục" id="input-total" class="form-control"
						ng-model="searchText.categoryname" />
				</div>

				<div class="form-group">
					<label class="control-label" for="input-date-added"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Ngày thêm</font></font></label>
					<div class="input-group date">
						<input ng-model="form.createDate" type="date" class="form-control">
					</div>
				</div>
				<!-- <div class="form-group">
					<label class="control-label" for="input-date-modified"><font
						style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">Ngày sửa đổi</font></font></label>
					<div class="input-group date">
						<input type="text" name="filter_date_modified" value=""
							placeholder="Ngày sửa đổi" data-date-format="YYYY-MM-DD"
							id="input-date-modified" class="form-control"> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
					</div>
				</div> -->
				<div class="form-group text-right">
					<button type="button" id="button-filter" class="btn btn-default">
						<i class="fa fa-filter"></i><font style="vertical-align: inherit;"><font
							style="vertical-align: inherit;"> Lọc</font></font>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 col-md-pull-3 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-list"></i><font style="vertical-align: inherit;"><font
						style="vertical-align: inherit;"> Danh sách sản phẩm</font></font>
				</h3>
			</div>
			<div class="col-md-12">
				<div class="card card-plain">
					<div class="card-body">
						<div class="table-responsive">

							<div>
								Search : <input type="text" ng-model="searchText.productid" />
							</div>

							<table class="table table-hover">
								<thead>
									<tr class="bg-primary">
										<th>Mã</th>
										<th>Tên sản phẩm</th>
										<th>Giá</th>
										<th>Hình ảnh</th>
										<th>Danh mục</th>
										<th>Tình trạng?</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="item in items|filter:searchText |itemsPerPage: 5 ">
										<td>{{item.productid}}</td>
										<td>{{item.name}}</td>
										<td>{{item.price }}</td>
										<td><img ng-src="{{'/assets/img/featured/'+ item.image}}"
											style="width: 100px; height: 100px"></td>
										<td>{{item.category.categoryname}}</td>
										<td>{{item.status ?'Còn hàng':'Hết Hàng'}}</td>
										<td>
											<button ng-click="edit(item)" class="btn btn-success">
												<i class="fas fa-edit"></i>
											</button>
											<button ng-click="delete(item)" class="btn btn-danger">
												<i class="fas fa-recycle"></i>
											</button>
										</td>
									</tr>
								</tbody>							
							</table>
							<dir-pagination-controls max-size="5" direction-link="true"
									boundary-links="true"></dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>