<div class="col-md-12">
  <div class="card card-plain">
    <div class="card-header card-header-primary">
      <h4 class="card-title mt-0"> DANH SÁCH TÀI KHOẢN</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Tên đăng nhập</th>
              <th>Họ và tên</th>
              <th>Email</th>
              <th>Hình</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="acc in admins">
              <td>{{acc.username}}</td>
              <td>{{acc.name}}</td>
              <td>{{acc.email}}</td>
              <td>{{acc.image}}</td>
              <td>
                <button ng-click="edit(acc)" class="btn btn-success"><i class="fas fa-edit"></i></button>
                <button ng-click="delete(acc)" class="btn btn-danger"><i class="fas fa-recycle"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-center">
      <button ng-click="pager.first()" class="btn btn-danger">
        <b><i class="fas fa-hand-point-up"></i></b>
      </button>
      <button ng-click="pager.prev()" class="btn btn-primary">
        <b><i class="fas fa-hand-point-left"></i></b>
      </button>
      <button class="btn btn-success"></button>
      <button ng-click="pager.next()" class="btn btn-primary">
        <b><i class="fas fa-hand-point-right"></i></b>
      </button>
      <button ng-click="pager.last()" class="btn btn-danger">
        <b><i class="fas fa-hand-point-down"></i></b>
      </button>
    </div>
  </div>
</div>